*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 70px;
    background-color: #90EE90;;
}

/* Botão para sair da página e voltar a home*/

.outside{
    display: flex;
    justify-content: space-between;
    align-items: end;
    border: none;
    background-color: #90EE90;
}

.outside a:link{
    color: #ffff;
}
    
.outside img{
    width: 30%;
    height: 20%;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDE4CB;;
}

/* Imagem e informações do tutor */

.tutor-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.image-tutor{
    padding-top: 4%;
    padding-left: 2%;
    height: 38vh;
}

.tutor{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #ffff;
    margin-left: 50px;
    padding-top: 2%;
    width: 24%;
    height: 50vh;
}

.name-container{
    padding-left: 35%;
}

.name-container span{
    padding-left: 10%;
}

.info-container p{
    font-weight: bold;
}

.info-container span{
    font-weight: lighter;
}

/* Informações dos pets */

.pets-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffff;
    border-radius: 20px;
}

