body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(135deg, var(--white-300), var(--beige-500));
}

header{
    background-color: var( --green-400);
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.back-view{
    display: flex; 
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
}
.back-view i {
    font-size: 6rem;
    color: black;
    transition: 0.5s;
}
.back-view i:hover{
    transform: scale(1.1);
}

main{
    height: 70%;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.foto{
    width:  50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    padding-bottom: 100px;
}

.fileAdd{
    height: 100%;
}

.infosAnimal{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: space-around;
    padding-right: 300px;
}

.realInformations{
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 90px;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-right: 300px;
}

.textFormation{
    width: 50px;
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.textInput{
    font-size: 1.5rem;
}

.inputLabel {
    background-color: transparent;
    height: 30px;
    width: 200px;
    margin-top: 10px;
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
}

.nivel-agressividade-select{
    background-color: transparent;
    height: 30px;
    width: 200px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
}

.opcoes{
    font-weight: bold
}

.nivel-agress{
    display: flex;
    align-items: start;
    justify-content: center;
}


footer{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: red;
    height: 50px;
    width: 500px;
    border-radius: 90px;
    font-size: 1.5625rem;
    font-weight: 700;
    background-color: var(  --green-500);
    color: white;
    transition: 1.5s;
}

button:hover{
    background-color: var(  --green-400);
    transform: scale(1.3);
    font-weight: 900;
    color: black;
}

@media (min-width:768px) and (max-width:1023px){
    
}

@media (max-width:767px) {

    body{
        width: 100%;
        height: 100%;
    }

    /* DEFINIÇÕES DE BACKGROUND E TAMANHO */
    
    header{
        display: none;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foto{
        height: 214px;
        width: 214px;
        margin-bottom: 20px;
        display: flex;
        padding: 0;
        align-items: center;
        align-items: center;
    }

    .infosAnimal{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .realInformations{
        margin: none;
    }

    .textFormation{
        width: 100px;
        display: flex;
        align-items: end;
        justify-content: end;
        justify-items: end;
        padding: 0;
        gap: 5px;
    }

    .textInput{
        font-size: 1.1rem;
        margin: 0;
        display: flex;
        justify-content: start;
        width: 100%;
    }



    .inputLabel {
        background-color: transparent;
        height: 30px;
        width: 100%;
        margin-top: 5px;
        border-bottom: 1px solid #000000;
        padding: 2px 5px;
    }
}